apiVersion: v1
kind: Secret
metadata:
  name: operational-load-exporter
  namespace: operational-load-exporter
type: Opaque
data:
  GITHUB_KEY: {{ .Values.github.key }}
  INCIDENT_IO_KEY: {{ .Values.incidentio.key }}
  PAGERDUTY_AUTH_TOKEN: {{ .Values.pagerduty.auth_token }}
